@page
@model SmartQuery.Web.Pages.Entries.CreateModel
@{
}
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form method="post">
            <div class="form-group">
                <strong>
                    <label asp-for="@Model.Data.Name"></label>
                </strong>
                <input type="hidden" class="form-control" asp-for="@Model.Data.Name" />
                <div id="entry-name-fill-in-app"></div>

            </div>
            <div class="form-group">
                <strong>
                    <label asp-for="@Model.Data.Description"></label>
                </strong>
                <textarea 
                    class="form-control" asp-for="@Model.Data.Description">
                </textarea>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <strong>
                            <label asp-for="@Model.Data.Adjectives">Select Adjectives that are associated</label>
                        </strong>
                        <input type="text" autocomplete="off" asp-for="@Model.Data.Adjectives" />
                        <div id="adjectives-autocomplete-app"></div>
                    </div>
                
                </div>

            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <strong><label asp-for="@Model.Data.RelatedTo">Select Entries that are related to this item</label></strong>
                        <input type="text" autocomplete="off" asp-for="@Model.Data.RelatedTo" />
                        <div id="entries-autocomplete-app"></div>
                    </div>
                  
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="row">
                    
                  
                    <hr />
                    <div id="adjectives-autocomplete-app"></div>

                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <div id="testing">aaa</div>
    <a asp-page="Index">Back to List</a>
</div>

@section Stylesheets {
    <style>
        .tt-suggestion {
            background: white;
            border-bottom:1px solid #ccc;
            width:100%;padding:2px;
            min-width:200px;
        }
    </style>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <partial name="../Shared/VueTemplates/AutocompletePartialVue" />
    <partial name="../Shared/VueTemplates/AutoCompleteNewVue" />
    <partial name="../Shared/VueTemplates/FillInVue" />

    <script type="module">
        import autoCompleteComponent from "/js/components/vue/autoCompleteComponent.js";
        import autoCompleteNew from "/js/components/vue/autoCompleteNew.js";
        import fillIn from "/js/components/vue/fillIn.js";

        Vue.createApp(fillIn,
            {
                syncEventName:"NameInputChanged",
                dataSourceUrl: "/Entries/Api/ListByName",
                inputLabel:"To prevent duplicate content, existing items will appear as you type.",
            }
        ).mount("#entry-name-fill-in-app");

        // related to input //
        Vue.createApp(autoCompleteNew,
            {
                syncEventName: "RelatedToItemsChanged",
                dataSourceUrl: "/Entries/Api/ListByName",
            }
        ).mount("#entries-autocomplete-app");

        Vue.createApp(autoCompleteNew,
            {
                syncEventName: "AdjectiveItemsChanged",
                dataSourceUrl: "/Adjectives/Api/ListByName",
            }
        ).mount("#adjectives-autocomplete-app");

    </script>
    <script>
        // sync inputs with vue form //
        document.addEventListener("NameInputChanged",function(e) {
            console.log(e.detail.input);
            document.getElementById("Data_Name").value = e.detail.input; 
        });

        document.addEventListener("AdjectiveItemsChanged", function (e) {
            console.log(e.detail.itemsIds);
            document.getElementById("Data_Adjectives").value = e.detail.itemsIds;
        }); 
        
        document.addEventListener("RelatedToItemsChanged", function (e) {
            console.log(e.detail.itemsIds);
            document.getElementById("Data_RelatedTo").value = e.detail.itemsIds;
        });
       
    </script>
<script src="/lib/typeahead.js/typeahead.bundle.js"></script>
   
}