@page
@model SmartQuery.Web.Pages.Entries.CreateModel
@{
}
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form method="post">
            <div class="form-group">
                <strong>
                    <label asp-for="@Model.Data.Name"></label>
                </strong>
                <input type="text" class="form-control" asp-for="@Model.Data.Name" />

            </div>
            <div class="form-group">
                <strong>
                    <label asp-for="@Model.Data.Description"></label>
                </strong>
                <textarea 
                    class="form-control" asp-for="@Model.Data.Description">
                </textarea>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <strong>
                            <label asp-for="@Model.Data.Adjectives">Select Adjectives that are associated</label>
                        </strong>
                        <input type="hidden" autocomplete="off" asp-for="@Model.Data.Adjectives" />
                        <auto-suggest selected-event-name="AdjectiveSelected" display-property="name" data-url="/Adjectives/Api/ListByName?Query="></auto-suggest>
                        <div id="selected-adjectives">
                            <ul class="list-group list-group-horizontal"></ul>
                        </div>
                    </div>
                
                </div>

            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <strong>
                            <label asp-for="@Model.Data.RelatedTo">Select Entries that are related to this item</label>
                            </strong>
                        <input type="text" hidden autocomplete="off" asp-for="@Model.Data.RelatedTo" />
                        <auto-suggest selected-event-name="RelatedEntriesSelected" display-property="name" data-url="/Entries/Api/ListByName?Query="></auto-suggest>
                        <div id="selected-related-entries">
                            <ul class="list-group list-group-horizontal"></ul>
                        </div>
                    </div>
                  
                </div>
            </div>
            <hr />
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Stylesheets {
    <style>
        .tt-suggestion {
            background: white;
            border-bottom:1px solid #ccc;
            width:100%;padding:2px;
            min-width:200px;
        }
    </style>
}
@section Scripts {
    <script src="/js/components/auto-suggest.js"></script>
    <script>
        let selectedAdjectives =[];
        document.addEventListener("AdjectiveSelected", function (e) {
            if(!selectedAdjectives.includes(e.detail.id)) {
                selectedAdjectives.push(e.detail.id);
                let liEl = document.createElement("li");
                liEl.classList.add("list-group-item");
                liEl.innerHTML = e.detail.name;
                document.querySelector("#selected-adjectives ul").appendChild(liEl);
            }
           
           document.getElementById("Data_Adjectives").setAttribute("value",selectedAdjectives.join(","));
        });
    </script>
    <script>
        let selectedRelatedEntries = [];
        document.addEventListener("RelatedEntriesSelected", function (e) {
            if (!selectedRelatedEntries.includes(e.detail.id)) {
                selectedRelatedEntries.push(e.detail.id);
                let liEl = document.createElement("li");
                liEl.classList.add("list-group-item");
                liEl.innerHTML = e.detail.name;
                document.querySelector("#selected-related-entries ul").appendChild(liEl);
            }

            document.getElementById("Data_RelatedTo").setAttribute("value", selectedRelatedEntries.join(","));
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

   
}