@page
@model SmartQuery.Web.Pages.Entries.CreateModel
@{
}
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.Data.Name"></label>
                <input class="form-control" asp-for="@Model.Data.Name" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Data.Description"></label>
                <textarea 
                    class="form-control" asp-for="@Model.Data.Description">
                </textarea>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label asp-for="@Model.Data.Adjectives"></label>
                        <input type="hidden" autocomplete="off" asp-for="@Model.Data.Adjectives" />
                        <div id="adjectives-autocomplete-app"></div>
                    </div>
                    <div class="col">
                        Selected: <ul class="list-group" id="selectedAdjectives"></ul>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label asp-for="@Model.Data.RelatedTo"></label>
                        <input type="hidden" autocomplete="off" asp-for="@Model.Data.RelatedTo" />
                        <div id="entries-autocomplete-app"></div>
                    </div>
                    <div class="col">
                        Selected: <ul class="list-group" id="selectedEntries"></ul>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="row">
                    
                  
                    <hr />
                    <div id="adjectives-autocomplete-app"></div>

                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <div id="testing">aaa</div>
    <a asp-page="Index">Back to List</a>
</div>

@section Stylesheets {
    <style>
        .tt-suggestion {
            background: white;
            border-bottom:1px solid #ccc;
            width:100%;padding:2px;
            min-width:200px;
        }
    </style>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <partial name="../Shared/VueTemplates/AutocompletePartialVue" />

    <script type="module">
        import autoCompleteComponent from "/js/components/vue/autoCompleteComponent.js";

        Vue.createApp(autoCompleteComponent,
            {
            dataSourceUrl:"/Entries/Api/ListByName",
            itemSelectedEventName:"EntrySelected",
            }
        ).mount("#entries-autocomplete-app");
        
        Vue.createApp(autoCompleteComponent,
            {
            dataSourceUrl:"/Adjectives/Api/ListByName",
            itemSelectedEventName:"AdjectiveSelected",
            }
        ).mount("#adjectives-autocomplete-app");

    </script>
    <script>
        var selectedEntries = [];
        var selectedAdjectives = [];
        document.addEventListener("EntrySelected",function(e) {
            let item = JSON.parse(JSON.stringify(e.detail.item));
            selectedEntries.push(item.id);// push new item to existing array
            $("#Data_RelatedTo").val(selectedEntries.join(","));// join all items with commas
            $("ul#selectedEntries").append('<li class="list-group-item">' + item.name + '</li>'); // add to display of current items

        });
        document.addEventListener("AdjectiveSelected",function(e) {
            let item = JSON.parse(JSON.stringify(e.detail.item));
            selectedAdjectives.push(item.id); // push new item to existing array
            $("#Data_Adjectives").val(selectedAdjectives.join(",")); // join all items with commas
            $("ul#selectedAdjectives").append('<li class="list-group-item">' + item.name + '</li>'); // add to display of current items
        });
    </script>
<script src="/lib/typeahead.js/typeahead.bundle.js"></script>
   
}